name: Valgrind

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: apt install dependency
      run: |
        sudo apt-get -y install valgrind
        sudo apt-get -y install libcunit1 libcunit1-doc libcunit1-dev 
    - name: make all
      run: |
        make all -C Linux_MiniProject/CinemaTicketRecording/
        valgrind ./Linux_MiniProject/CinemaTicketRecording/build/Moviedb-test.out
